body {
	background-color: greenyellow;
	font-family: monospace;
	border-color: 3px solid #ffffff: 
	padding: 30px;
	margin left: 40px;
	margin top: 30px;
font-size: 28;

}
ul {
	font-family:Arial, sans-serif:;
	color: hotpink
	text-shadow:black;
}
h1, h2 {
	font-family: Impact:;
	text lighting-color: darkblue;
	color: rebeccapurple;
	font-size: 28;

}
title {
	text-decoration: unset;
	color: black;
}
h3, h4, {
	font-family:arie;
	font-size: 28

}
h5 {
	font-size: 28;
}